/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

/* Page background */
body {
  background: linear-gradient(135deg, #667eea, #764ba2);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main card */
.container {
  background: rgb(234, 237, 239);
  width: 100%;
  max-width: 900px;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}

/* Title */
h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Form */
.form {
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
}

.form input {
  flex: 1;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

.form input:focus {
  border-color: #e9eaee;
}

/* Button */
.form button {
  padding: 5px 5px;
  border: none;
  border-radius: 8px;
  background: #667eea;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.form button:hover {
  background: #5a67d8;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th {
  background: #f5f5f5;
  padding: 10px;
  text-align: left;
  color: #444;
}

td {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

/* Hover row */
tbody tr:hover {
  background: #f9f9ff;
}

/* Status colors */
.pass {
  color: green;
  font-weight: bold;
}

.fail {
  color: red;
  font-weight: bold;
}

/* Summary */
.summary {
  margin-top: 15px;
  padding: 12px;
  background: #f7f7ff;
  border-radius: 8px;
}

.summary p {
  margin: 5px 0;
  font-weight: 500;
}